<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testSigning_Winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="client_id" value="4184-637127995547330633.apps.signserviceapi.com"/>
		<add key="client_password" value="NGNhMzdmOGE-OGM2Mi00MTg0"/>
		<add key="SAVEFOLDERPATH" value="C:\\Users\\nguye\\OneDrive\\Desktop\\testapi_smartca\\TestResult"/>
	</appSettings>
 <applicationSettings>
  <testSigning_Winform.Properties.Settings>
   <setting name="testSigning_Winform_localhost_RemoteSigningService_v2"
    serializeAs="String">
    <value>https://localhost:44359/RemoteSigningService_v2.asmx</value>
   </setting>
  </testSigning_Winform.Properties.Settings>
 </applicationSettings>
</configuration>