<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<appSettings>
		<add key="CA2_SP_ID" value="0101300842-999"/>
		<add key="CA2_SP_PASSWORD" value="Thaison42999@"/>
		<add key="CA2API_URI" value="https://rmsca2.nacencomm.vn/api/data"/>
	</appSettings>
</configuration>
