<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

	<connectionStrings>
		<add name="CONNECTION_STRING" connectionString="Data Source=QUANNA;Initial Catalog=ERSDatabase;Persist Security Info=True;User ID=sa;Password=Admin@123" providerName=".NET Framework Data Provider for SQL Server"/>
	</connectionStrings>
	
	<appSettings>
		<add key="TK_TIME_INTERVAL" value="100"/>
		<add key="FILE_COUNT" value="10"/>
		<add key="HS_TIME_INTERVAL" value="100"/>
		<add key="HOSO_COUNT" value="10"/>
		<add key="SP_ID" value="4184-637127995547330633.apps.signserviceapi.com"/>
		<add key="SP_PASSWORD" value="NGNhMzdmOGE-OGM2Mi00MTg0"/>
		<add key="LOGFOLDER" value="Logs"/>
		<add key="SIGNEDTEMPFOLDER" value="TempHoSo"/>
		<add key="SIGNHS_TIME_INTERVAL" value="100"/>
		<add key="SIGNHS_COUNT" value="3"/>
		<add key="SIGNTK_TIME_INTERVAL" value="100"/>
		<add key="TKHS_COUNT" value="3"/>
		<add key="HOSO_TEMP_FOLDER" value="C:\Users\quanna\Desktop\SingedTemp"/>
	</appSettings>
</configuration>
