<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<connectionStrings>
		<add name="CONNECTION_STRING" connectionString="Data Source=QUANNA\SQLEXPRESS;Initial Catalog=ERSDatabase;Persist Security Info=True;User ID=sa;Password=Admin@123" providerName=".NET Framework Data Provider for SQL Server" />
		<!--<add name="CONNECTION_STRING" connectionString="Data Source=NGUYENQUAN;Initial Catalog=ERSDatabase;Persist Security Info=True;User ID=sa;Password=181091" providerName=".NET Framework Data Provider for SQL Server"/>-->
	</connectionStrings>
	<appSettings>
		<add key="RMQ_CONNECTION_URI" value="amqp://adminQ:181091@localhost:5672/smartca" />
		<add key="SP_ID" value="4184-637127995547330633.apps.signserviceapi.com" />
		<add key="SP_PASSWORD" value="NGNhMzdmOGE-OGM2Mi00MTg0" />
		<add key="ISTEST" value="0" />
		<add key="URL_ENDPOINT_TEST" value="https://rmgateway.vnptit.vn/sca/sp769" />
		<add key="URL_ENDPOINT" value="https://gwsca.vnpt.vn/sca/sp769" />
		<add key="HOSO_TEMP_FOLDER" value="C:\Users\quanna\Desktop\SingedTemp" />
		<add key="LOGFOLDER" value="Logs" />
		<add key="HOSO_COUNT" value="10" />
		<add key="HSDK_PREFETCH" value="10" />
		<add key="SIGNHSDK_ConcurrentConsumer" value="5" />
		<!--quy dinh moi consumer ky hash to khai va lay kq to khai dc toi da xu ly doi bao nhieu message de chia tai cho deu neu co nhieu consumer-->
		<!--bat ConsumerDispatchConcurrency thi se xu ly dong thoi-->
		<add key="SIGNHASH_TKHS_PREFETCH" value="10" />
		<add key="SIGNHASH_TKHS_ConcurrentConsumer" value="5" />
		<!--cho nay de nghen co chai vi consumer nay thoi gian chay gap 2-3 lan cac consumer khac
		de prefetch cao, co the tang concurrent neu cham
		-->
		<add key="GETRESULT_TOKHAI_PREFETCH" value="20" />
		<add key="GETRESULT_TOKHAI_ConcurrentConsumer" value="5" />
		<!--quy dinh cho lay kq ho so-->
		<add key="GETRESULT_HOSO_PREFETCH" value="10" />
		<add key="GETRESULT_HOSO_ConcurrentConsumer" value="5" />
		<!--xu ly dlq la consumer cuoi-->
		<add key="DLQ_ConcurrentConsumer" value="10" />
		
		<!--thoi gian retry ket qua sau moi lan ky hash ko thanh cong va retry bn lan lay truoc khi nack-->
		<add key="TKSIGNHASH_RETRYTTL" value="8000" />
		<add key="TKSIGNHASH_RETRYMAXTRY" value="3" />
		<add key="HSDKSIGNHASH_RETRYTTL" value="8000" />
		<add key="HSDKSIGNHASH_RETRYMAXTRY" value="3" />

		<!--thoi gian retry lay ket qua sau moi lan lay ko thanh cong va retry bn lan lay truoc khi nack-->

		<add key="GETRESULT_RETRY_INTERVAL" value="8000" />
		<add key="GETRESULT_RETRY_MAXCOUNT" value="3" />
		<!--interval scan hoso-->
		<add key="SCANHS_INTERVAL" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.4" newVersion="5.5.13.4" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>